<template>
    <div class="container">
        <div>  <!--put condition here --> 
    <div  v-for="bio in bios.data"  class="panel text-center"> <!--loop through bio-->
                <h3><a :href="'/trees/'+bio.id">{{bio.title}}</a></h3>
                <span class="text-right">{{bio.created_at}}</span>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props:['bios'],
    name : 'bios',
 mounted(){
        console.log(this.bios)
        }
 }
</script>

<style>

</style>
