<template>
<!-- <div class="container">
    <div class="jumbotron text-center">
        <img src="/storage/cover_images/{{singleDetail.cover_image}}" class="img-responsive img-circle">
        <h3></h3>
        <p></p>
    </div>
    <hr>
    <small>{{singleDetail.created_at}}</small>
                <a href="/trees" class="btn btn-info">Go Back</a>

</div> -->
</template>

<script>

</script>

<style>

</style>