<template>
    <div class="container">
        <h1>
            Welcome
    </h1>
    <small>In Here you can save bios, or even make quick notes</small>&#9787;
                </div>
</template>

<script>
export default {
    name:'welcome'
   
    }
</script>

<style>

</style>
